body {
    background-color: beige;
    font-family: Geneva sans-serif;
    color: dimgrey;
    margin: 0px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.logo {
    padding: 12px 24px;
}

.content-header {
    background-color: #de1515;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
}

.content {
    padding-top: 80px;
    padding-left: 24px;
    width: 800px;
    margin: auto;
}

.course-image {
    text-align: center;
    padding-bottom: 12px;
    width: 200px;
}

.navigation-bar img {
    border: solid lightgray 2px;
}

.product-image img {
    border: solid lightgray 2px;
}

.course-title {
    text-align: left;
    color: black;
    width: 200px;
    padding-bottom: 12px;
    font-weight: bold;
}

.author-about {
    width: 600px;
}

.course-details {
    width: 400px;
}
.footer {
    color: black;
    padding: 12px 0;
    margin: 0;
    clear: right;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-links {
    padding: 0 12px;
}

.navigation-bar {
    padding-top: 12px;
    float: right;
}